---
layout: default
---

<div class="oc-welcome">
  <div class="wrapper">

    <h1 class="oc-welcome-header">Welcome to <span>Orlando Devs</span></h1>

    <p class="oc-welcome-intro">
      We are a community of software developers in Orlando, FL.
      Whether you <span class="oc-welcome-love">love</span> writing code or are just getting started, you are welcome here!
    </p>

    <p class="oc-welcome-btns">
      <a class="oc-btn oc-btn--light" href="{{ site.baseurl }}/meetup">Join our Meetup</a>
      <a class="oc-btn oc-btn--light" href="{{ site.baseurl }}/slack">Join our Slack</a>
      <a class="oc-btn oc-btn--light" href="{{ site.baseurl }}/code-of-conduct">Code of Conduct</a>
      <a class="oc-btn oc-btn--light" href="https://www.patreon.com/odevs">Become a Patron</a>
    </p>
  </div>
</div>

<div class="oc-content">
  <div class="wrapper">
    <ul class="oc-posts">
      {% for post in site.posts %}
      <li class="oc-post">
        <h2 class="oc-heading -h2">
          <a class="oc-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="oc-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </h2>
        <div class="oc-excerpt">
          <p>{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %}</p>
          <a class="oc-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
