/**
 * COLUMNS
 */
.oc-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  @include media-query($on-palm) {
    flex-direction: column;
  }

  > div {
    flex-grow: 1;
    flex-basis: 0;
    padding: .5em 1em;
  }
}

/**
 * CONTENT SECTIONS
 */
.oc-section {
  h1, h2, h3 {
    font-weight: 400;
  }

  .oc-section-area {
    font-size: 1.1rem;
    padding: 2rem 0;
  }

  .oc-section-area--shaded {
    background-color: #F5F5F5;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  .oc-section-area--lgtext {
    font-size: 1.35rem;

    h1 {
      font-size: 1.7rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .oc-btn {
      font-size: 1.05rem;
      margin-top: .5rem;
    }
  }

  .oc-section-area--bottomslim {
    padding-bottom: .5rem;
  }

  .oc-section-area--topslim {
    padding-top: .5rem;
  }
}

/**
 * OUTLINED BUTTON
 */

 @mixin btn-outline($color: #111, $hover-bg: white, $hover-text: #111) {
   background-color: transparent;
   border-radius: .25rem;
   color: $color;
   border: .1rem solid $color;
   text-transform: uppercase;
   transition: all 300ms ease;

   &:hover {
     background-color: $hover-bg;
     border-color: $hover-bg;
     color: $hover-text;
   }
 }

.oc-btn {
  display: inline-block;
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: .6rem 1rem;

  & + & {
    margin-left: .6rem;
  }
}

.oc-btn--light,
.oc .oc-btn--light {
  @include btn-outline(#FFFFFF, #FFFFFF, #111111);
}

.oc-btn--dark,
.oc .oc-btn--dark {
  @include btn-outline(#495663, #02203C, #FFFFFF);
}
