/**
 * Site footer
 */
.oc-footer {
  background: #475C71;
  background: linear-gradient(to bottom, rgba(71,92,113,1) 1%,rgba(2,32,60,1) 76%);
  color: white;
  padding: $spacing-unit 0;
}

.oc-footer-heading {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: .05rem;
  margin-bottom: 15px;
  text-transform: uppercase;

  &:before {
    background-image: url('/assets/footer-odev.png');
    background-repeat: no-repeat;
    background-size: 100%;
    content: ' ';
    display: inline-block;
    height: 1.2em;
    margin: 0 .4rem .4rem 0;
    vertical-align: middle;
    width: 1.2em;
  }
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.oc-footer-cols {
  font-size: 15px;
  color: #e7eef5;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;

  a {
    color: #d0e4fd;
    transition: all 500ms ease;

    .icon > svg path {
      transition: all 500ms ease;
      fill: #d0e4fd;
    }

    &:hover {
      color: #fff;

      .icon > svg path {
        fill: #fff;
      }
    }
  }

}


.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}
