$header-bg-color: #02203C;
$link-color: #ADCCE8;
$link-color-hover: #FFFFFF;

/**
 * Site header
 */
.oc-layout-header {
  align-items: center;
  background-color: $header-bg-color;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0;

  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.oc-logo {
  display: inline-block;
  margin: 0 1.5rem;

  > img {
    height: auto;
    max-width: 85vw;
    width: 200px;
  }
}

.oc-layout-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1.5rem;

  @include media-query($on-palm) {
    margin-top: 1.2em;
  }


  > .oc-link {
    color: $link-color;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .05rem;
    margin: 0 1rem;
    text-transform: uppercase;
    transition: all 500ms ease;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $link-color-hover;
    }

    @include media-query($on-palm) {
      font-size: 12px;
      margin: 0 .5rem;
    }
  }


  > .oc-link--box {
    padding: .3rem .7rem;
    @include btn-outline($link-color, $link-color-hover, $header-bg-color);
  }
}
