/**
 * Site header
 */
.oc-layout-header {
  align-items: center;
  display: flex;
  background-color: #02203C;
  background-image: url('/assets/header.jpg');
  background-position: center center;
  background-size: cover;
  height: 20vh;
  justify-content: center;

  @media screen and (min-width: 480px) {
      min-height: 100px;
  }
}

.oc-logo {
  display: block;

  > img {
    max-width: 85vw;
    height: auto;
    width: 400px;
  }
}


.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.oc-layout-page {
  padding: 1rem calc((100% - 960px) / 2);
  min-height: 50vh;

  @include media-query($on-palm) {
    padding: 10px 15px;
  }


}

.oc-content {
  padding: 1rem;
}

.oc-posts {
  margin-left: 0;
  list-style: none;
}

.oc-post {
  margin-bottom: 1rem;

  > .oc-heading {
    color: map-get($oc-colors, 'primary');
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    text-align: right;
    padding: 1rem;
    background-color: rgba(map-get($oc-colors, 'secondary'), 0.2);
    margin-bottom: 0;

    > .oc-link {
      color: currentColor;
    }
  }

  // @media (max-width: 600px) {
    flex-wrap: wrap;

    > .oc-heading {
      flex-grow: 1;
    }
  // }
}

.oc-link, .oc a {
  color: map-get($oc-colors, 'primary-light');
  overflow: hidden;
  transition: color 0.3s ease-out;

  &:hover {
    color: map-get($oc-colors, 'primary');
  }
}

.oc-excerpt {
  padding: 1rem;
}

.oc-meta {
  font-size: $small-font-size;
  color: $grey-color;
  text-transform: uppercase;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1.3;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
      font-size: 26px;

      @include media-query($on-laptop) {
          font-size: 22px;
      }
  }

  h4 {
      font-size: 20px;

      @include media-query($on-laptop) {
          font-size: 18px;
      }
  }

  a {
    text-decoration: underline;
  }

  table {
    border-spacing: 0;
    display: block;
    margin: 0 0 10px 0;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    width: 100%;

    th {
      font-weight: bold
    }

    th,
    td {
      padding: 6px 13px;
      border: 1px solid #ddd;
    }

    tr {
      background-color: #fff;
      border-top: 1px solid #ccc
    }

    tr:nth-child(2n) {
      background-color: #f8f8f8
    }
  }

  hr {
    border: none;
    border-top: 1px solid $grey-color-light;
    margin: 25px 0;
  }

  img {

    &.img-center {
      display: block;
      margin: 2rem auto;
    }

    &.img-large {
      max-width: 800px;
    }

    &.img-medium {
      max-width: 600px;
    }

    &.img-small {
      max-width: 400px;
    }

    @include media-query($on-palm) {

      &.img-large,
      &.img-medium,
      &.img-small {
        max-width: 100%;
      }

    }
  }
}

.post-author {
  border-top: #EBF2F6 1px solid;
  margin: 4rem 0 .8rem 0;
  padding: 2rem 0;

  .post-author-name {
    font-size: 1.4rem;
    font-weight: bold;
    margin: .4rem 0;

    > a {
      color: #000000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post-author-bio {
    color: #828282;
    line-height: 1.5;
  }

  .post-author-image {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    background: #fff;
    z-index: 2;
    box-shadow: #E7EEF2 0 0 0 1px;

    > .img {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      border-radius: 100%;
    }
  }

  .social-media-list {
    margin: .4rem 0;

    > li {
      display: inline-block;
      margin-right: 1rem;
    }
  }

}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include media-query($on-palm) {
    display: block;
  }

  & > * {
    flex-grow: 1;
    flex-shrink: 0;
  }

  img {
    max-width: 100% !important;
  }
}
